@model IEnumerable<SeeSharpers.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornArrangement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var price = 16.00;
    if(item.PopcornArrangement){
        price += 2.50;
    }
    if(item.DiscountType > 0){
        price -= 2.50;
    }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopcornArrangement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => price)
            </td>
        </tr>
}
    </tbody>
</table>
